<a href="https://colab.research.google.com/github/engrtobechi/engrtobechi/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Introduction

Python is an object-oriented programming language released in 1991. It was developed by Guido van Rossum of the National Research Institute for Mathematics and Computer Science in Amsterdam.

Python is now ranked the world's most popular programming language, according to <a href="https://www.tiobe.com/tiobe-index/">TIOBE</a> and <a href="https://pypl.github.io/PYPL.html">PyPL Ranking.</a>

Python has a beautiful and human readable syntax which makes it the go to programming language for beginners.

In this section we shall learn to write python code, run it and get some outputs.

We shall look at the following:

* Comments in Code
* Variables and Assignment Statements
* Function <i>print()</i> 
* Arithmetic Operations
* Logic Operations

## Comment in Code
To make a comment inside your Python code simply use the # symbol before the text. Comments are ignored by the Python compiler.

#### Example 1.1:

In [4]:
# Example 1.1 This is our first comment in code.
# Let us perform simple arithmetic below

4 + 6

10


## Variables and Assignment Statements
You can think of variables are a means to store values for later use in code.

In the example below we try to create two variables to store length and width of a rectangle which is subsequently used to calculate it's area.

#### Example 1.2:

In [5]:
# Example 1.2
# Let us create two variables to calculate area

length = 8
width = 10

area = length * width

area

80

### Data Types
Below we explore the various data types that can be stored in our variable:

* Integers 
* Floats
* Strings
* Boolean

#### Example 1.3:

In [6]:
# Example 1.3

age = 25
weight = 74.5
height = 1.82
name = "Tobechi"
is_male = True

bmi = weight / (height * height)

bmi

22.491245018717546

## Function `print()` and the `str()`

The `print()` function is used in Python to output text to the user. 

On the other hand `str()` function is used to convert non-string variables into string.

#### Example 1.4:

In [7]:
# Example 1.4
# Outputting a Hello Message
print("Hello Tobechi")

# Outputting some text combined with variables using the plus operation 
print(name + " is " + str(age) + " years old.")

Hello Tobechi
Tobechi is 25 years old.

## Arithmetic Operations

Just like in mathematics arithmetic operators are supported in Python.

These arithmetic operators include:

<table>
  <thead>
    <tr>
      <td>Python operation</td>
      <td>Arithmetic operator</td>
      <td>Algebraic expression</td>
      <td>Python expression</td>
    </tr>
  </thead>

  <tr>
    <td>Addition</td>
    <td> + </td>
    <td> a + 7 </td>
    <td> a + 7 </td>
  </tr>

  <tr>
    <td>Subtraction</td>
    <td> – </td> 
    <td> b – c </td>
    <td> b - c </td>
  </tr>

  <tr>
    <td>Multiplication</td>
    <td> * </td>
    <td> b · c </td>
    <td> b * c </td>
  </tr>

  <tr>
    <td>Exponentiation</td>
    <td> ** </td>
    <td> x ^ y  </td>
    <td> x ** y </td>
  </tr>
  
  <tr>
    <td>Division</td>
    <td> / </td>
    <td> x / y</td>
    <td> x / y</td>
  </tr>

  <tr>
    <td>Floor division</td> 
    <td> // </td>
    <td> x // y </td>
    <td> x // y </td>
  </tr>

  <tr>
    <td>Remainder</td>
    <td>(modulo)</td> 
    <td> a mod b </td>
    <td> a % b </td>
</table>

All arithmetic operators listed above are recognized by Python within in accordance with established mathematical precedence. 

PEMDAS or BODMAS

### Addition

Let's calculate the Perimeter of the square in our previous example and then print the output to the screen.

#### Example 1.5:

In [8]:
# Example 1.5
# Create a variable called perimeter
perimeter = length + width + length + width

print("The perimeter of the rectangle is: " + str(perimeter) + " cm")

The perimeter of the rectangle is: 36 cm

### Subtraction

After two weeks of workout I lost 1kg, let us see how subtraction works when by reducing my weight variable earlier declared.

#### Example 1.6:

In [9]:
# Example 1.6
new_weight = weight - 1

print(name + " lost some weight and now weighs: " + str(new_weight) + " kg")

Tobechi lost some weight and now weighs: 73.5 kg

### Multiplication and Division

We had earlier used multiplication and division to calculate Tobechi's BMI (Body Mass Index), since he lost some weight let us update the bmi and print to the screen.

#### Example 1.7:

In [10]:
# Example 1.7
bmi = new_weight / (height * height)

print(name + "'s new BMI is: " + str(bmi))

Tobechi's new BMI is: 22.189349112426033

### Exponentiation

Exponentiation raises the value of one operand by another.

See example below.

Rather than multiply height in the BMI calculation above by itself we can raise it to the power of two.

#### Example 1.8:

In [11]:
# Example 1.8
bmi = new_weight / (height ** 2)

print(name + "'s new BMI is: " + str(bmi))

Tobechi's new BMI is: 22.189349112426033

### Floor Division

In floor division Python discards or truncates the remainder part of the resulting value and returns the whole number.

We see this in an example where 14 is the numerator and 5 is the dinominator.

#### Example 1.9:

In [12]:
# Example 1.9
x = 14
y = 5

x // y

2

### Remainder

In the remainder operation Python discards the whole number part of the division and outputs the remainder.

See example below:

#### Example 1.10:

In [13]:
# Example 1.10
x % y

4

## Logic Operators

<table>
  <thead>
    <tr>
      <td>Algebraic operator</td>
      <td>Python operator</td>
      <td>Sample condition</td>
      <td>Meaning</td>
    </tr>
  </thead>
    
  <tr>
    <td> > </td>
    <td> > </td>
    <td> x > y</td> 
    <td>x is greater than y</td>
  </tr>

  <tr>
    <td> < </td>
    <td> < </td>
    <td> x < y </td>
    <td>x is less than y</td>
  </tr>

  <tr>
    <td> ≥ </td>
    <td> >= </td>
    <td> x >= y </td>
    <td> x is greater than or equal to y</td>
  </tr>

  <tr>
    <td> ≤ </td>
    <td> <= </td>
    <td> x <= y </td>
    <td> x is less than or equal to y</td>
  </tr>

  <tr>
    <td> = </td>
    <td> == </td> 
    <td> x == y </td>
    <td> x is equal to y</td>
  </tr>

  <tr>
    <td> ≠ </td>
    <td> != </td>
    <td> x != y </td>
    <td> x is not equal to y</td>
  </tr>
  </table>

  #### Example 1.11:

In [14]:
# Example 1.11
# The following block of code compares two variables using logic operators
print("x is:", x)
print("y is:", y)

print("Is x > y? :", (x > y))
print("Is x < y? :", (x < y))
print("Is x >= y? :", (x >= y))
print("Is x != y? :", (x != y))

x is: 14
y is: 5
Is x > y? : True
Is x < y? : False
Is x >= y? : True
Is x != y? : True

# Dicision Making
There are times when you would want a piece of code to execute only if a condition is met. We consider this a dicision making need.

In Python such blocks of code are called conditional statements.

Below we look at how to use the if…elif…else statement in Python. 

#### Example 2.1:

In [15]:
# Example 2.1
# Using the if statement let us print a message telling if the assigned value to the number variable is even or odd

number = 3
if number % 2 == 0:
    print(number, "is an even number.")

## `if...else` block
Notice that nothing is printed to the output because the number is odd.

Let us go on to modify the code to print a message if the number is odd using an else statement.

#### Example 2.2:

In [16]:
# Example 2.2:
number = 3
if number % 2 == 0:
    print(number, "is an even number.")
else:
  print(number, "is an odd number.")

3 is an odd number.

### Function `input()` and `int()`
Let's make the code more fun by using the `input()` function to acquire user input and assigning it to the variable.

The `int()` function just like the `str()` function converts String literals into Integers.

We see it in use below, where we convert the `user_input` variable into an integer.

#### Example 2.3:

In [17]:
# Example 2.3
user_input = input("Enter a random number: ")

number = int(user_input)

if number % 2 == 0:
    print(number, "is an even number.")
else:
    print(number, "is an odd number.")

Enter a random number: 8
8 is an even number.

## `if...elif...else` block
In the next example we see how to add more steps to the conditional block of code using the `elif` statement.

#### Example 2.4:

In [18]:
# Example 2.4
if number > 0:
    print(number, "is a positive number")
elif number < 0:
    print(number, "is a negative number")
else:
  print(number, "is Zero")

8 is a positive number

# Repetition
Repetition often referred to as loops in programming is the process of repeating a set of instructions or blocks of code in a program. 

## The `for` loop

Below we greet all students in our class list stored in a variable called `student_list`.

```
# The code syntax of a for loop takes this form:
for val in sequence:
    loop body
```

#### Example 3.1:

In [19]:
# Example 3.1
student_list = ["Henry", "Taiwo", "Adebayo", "Abdulahi", "Tobechi"]

for student in student_list:
  print("Hello ", student)

Hello  Henry
Hello  Taiwo
Hello  Adebayo
Hello  Abdulahi
Hello  Tobechi

## The `for` loop and the `else` block

We take the example of greeting the students futher by adding the else statement to it.

#### Example 3.2:

In [20]:
# Example 3.2
for student in student_list:
  print("Hello ", student)
else:
  print("I have exhuasted the list of students.")

Hello  Henry
Hello  Taiwo
Hello  Adebayo
Hello  Abdulahi
Hello  Tobechi
I have exhuasted the list of students.

## The `while` loop

Unlike the `for` loop which iterates over a sequence the `while` loop iterate over a block of code for as long as the `test_expression` (condition) is `true`.

```
# The code syntax of the while loop is as follows
while test_expression is true:
    code to run
```

#### Example 3.3:

Let's find the sum of all numbers upto 10 using the `while` loop.

In [21]:
# Example 3.3
a = 10

# Initializing the variable sum to the value 0
sum = 0

# Loop counter
i = 1

while i <= a:
  sum = sum + i
  i = i + 1

print(sum)

55

### `while...else` block

`while` loop can also be used with the `else` statement, we go on in the next example to add an `else` block to the previous example.

#### Example 3.4:

In [22]:
# Example 3.4
a = 10

# Initializing the variable sum to the value 0
sum = 0

# Loop counter
i = 1

while i <= a:
  sum = sum + i
  i = i + 1
else:
  print("LOOP ENDED")

print(sum)

LOOP ENDED
55

## The `break` and `continue` keywords

The `break` and `continue` keywords in Python loops are used to break or continue a loop.

The `break` keyword breaks a loop once the Python compiler encounters it.

#### Example 3.5:

In [23]:
# Example 3.5
for alphabet in "Python":
  if alphabet == "h":
    break
  print(alphabet)

P
y
t

## The `continue` keyword

The `continue` keyword jumps the loop to the next iteration.

#### Example 3.6:

In [2]:
# Example 3.6
for alphabet in "Python":
  if alphabet == "h":
    continue
  print(alphabet)

P
y
t
o
n

# Functions

Functions provide programmers a way of writing re-usable code by breaking programs into smaller and modular chunks that perform specific task.


```
# The syntax for functions in Python are as show below
def function_name(parameters):
    statement(s)
```
#### Example 4.1:

In [25]:
# Example 4.1
def addition(a, b):
  sum = a + b
  print(sum)

Using functions in code are done as we saw with the `print()` function.

Having created the `addition()` function, we go on to call it and pass two arguments to it as seen below.

It is important to note that a function call can only be made after it has been defined.

In [26]:
addition(3, 8)

11

## The `return` statement

There are times when a function is required to return an **object** (could be any data type), to achieve this Python allows you to use the `return` keyword followed by the data to return at the end of your function definition.

#### Example 4.2:

In [31]:
# Example 4.2:
def greet(name):
    """This function returns the absolute
    value of the entered number"""

    if len(name) >= 1:
        return "Good day " + name + "."
    else:
        return "Good day"


print(greet("Adebayo"))

#print(greet(""))

Good day Adebayo.

## Function Parameters

Functions can take variable number of parameters and can have a default value.

We see this in the examples below.

#### Example 4.3:

In [32]:
# Example 4.3
# greet() function modified to take two arguments
def greet(name, msg):
  return msg + " " + name

print(greet("Amaka", "Good afternoon"))

Good afternoon Amaka

We futher try to modify the greet function to optionally take one argument.

In [34]:
def greet(name, msg="Good evening"):
  return msg + " " + name

print(greet("Waziri"))

#Call the greet function specifying the second argument
print(greet("Blessing", "You are welcome"))

Good evening Waziri
You are welcome Blessing

Arguments not assigned default values are called **positional arguments** while those assigned values are called **keyword arguments**.

A function is capable of taking an arbitrary number of arguments, this is useful when we don't know the number of arguments that would be passed to our function.

To accept an arbitrary number of arguments in your function simply use an asterics (*) before the parameter name in the function definition.

In [1]:
def greet(*names):
  for name in names:
    print("Good day", name)

greet("Emeka", "Anthony", "Funke", "Sani")

Good day Emeka
Good day Anthony
Good day Funke
Good day Sani

# Lists and Dictionaries

In addition to the initial data types we've studies there are lists and dictionary data types in Python and we would look through them in this section.

Lists allow us to hold different data types in a collection seperated by commas, we see this in the example below.

#### Example 5.1:

In [ ]:
# Example 5.1

# List of strings
presidents = ["Olusegun Obasanjo", "Umaru Musa Yar'Adua", "Goodluck Jonathan"]

# List of integers
prices = [230, 215, 212, 228, 234, 229, 218]

# List with mixed data types
data_recieved = ["Won", 310, "Loss", True, 99.2]

# Lists can also contain nested lists
student_data = [["Tunde", "SS3B", 83], ["Chioma", "SS3A", 91], ["Tobechi", "SS3A", 99]]

## Accessing List Items

# Classes and Objects